
body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
.controlled-setting-with-label {
    -webkit-box-align: center;
    display: -webkit-box;
    padding-bottom: 7px;
    padding-top: 7px;
}
.controlled-setting-with-label > input + span {
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    -webkit-margin-start: 0.6em;
    display: -webkit-box;
}

header {
    background-image: -webkit-linear-gradient(white, white 40%, rgba(255, 255, 255, 0.92));
    left: 155px;
    max-width: 738px;
    min-width: 600px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
}

#page-container {
    box-sizing: border-box;
    max-width: 888px;
    min-width: 600px;
}

.page {
    -webkit-margin-end: 24px;
    min-width: 576px;
    padding-bottom: 20px;
    padding-top: 55px;
}

#main-content{
    padding-left: 155px;
}

.colorpicker {
    margin-left: 25px;
}

input[disabled] + span {
    color: #999999;
}

.section-description{
    color: rgb(151, 156, 160);
    font-size: 13px;
    white-space: normal;
    line-height: 1.8em;
}
.settings-row {
    display: block;
    margin: 0.65em 0;
}


.status.error {
    color: rgb(255, 0, 0);
    display: inline;
}

.status.success {
    color: rgb(0,192, 0);
    display: inline;
}

.status.info {
    display: inline;
}

.status {
    display: none;
}